<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <!-- стили CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">-->
</head>
<body>
<header>
    <!-- Grey with black text -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="LOGO" width="50px"
                     style="object-fit: cover; object-fit: cover; box-shadow: 0px 0px 30px 10px rgba(85,0,255,0.54);">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Мои Ex</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="#">GG</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
    <!-- Здесь будет отображаться содержимое каждой страницы -->
</main>

<footer>

</footer>

<!-- Ваши скрипты JavaScript здесь -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- <script href="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"/>-->
<!-- <script href="{{ url_for('static', filename='js/bootstrap.esm.js') }}"/>-->
<!-- <script href="{{ url_for('static', filename='js/bootstrap.js') }}"/>-->
</body>
</html>
