{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

<!--{% block header %}Добро пожаловать на главную страницу{% endblock %}-->

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-xl-6 col-lg-7">
        <p class="fs-1 text-light">УНИВЕРСАЛЬНАЯ соц. Сеть</p>
        <p class="fs-3 text-muted">С новой ситемой рейтинга, где ваши взаимодействия и
            активность превращаются в ценные опытные очки!
            Здесь каждый ваш пост, комментарий или лайк
            не только отражает вашу личность, но и
            добавляет вам ценные очки.</p>
            </div>
    </div>
</div>
{% endblock %}
