{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="spacer"></div>
    <div class="row d-flex justify-content-center" style="border: #212121 solid 5px; padding: 2vw 3vw">
        <div class="col-12 text-center">
            <h3 class="title text-light" style="font-size: 3.3vw;">Добавить <span class="ex-txt">ПОСТ</span></h3>
            <div class="spacer"></div>
            <div class="box">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}

                <form method="POST" action="{{ url_for('add_post') }}">
                    <div class="row">
                        <div class="col-3">
                            <p style="text-align: right; font-size: 3vw; color: #818181">Титул</p>
                            <br>
                            <p style="text-align: right; font-size: 3vw; color: #818181">Текст</p>
                        </div>
                        <div class="col-9">
                            <div class="field">
                                <div class="control">
                                    <input type="text" name="title" autofocus=""
                                           autocomplete="off" required>
                                </div>
                            </div>
                            <br>
                            <div class="field">
                                <div class="control">
                                    <textarea class="input is-large" name="content" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer" style="margin-top: 3vw"></div>
                    <button type="submit" class="ex-btn"
                            style="font-size: 3vw; height: auto; width: auto; padding: 2vw 4vw">Добавить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>
{% endblock %}