{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="spacer"></div>
    <div class="row d-flex justify-content-center" style="border: #212121 solid 5px; padding: 2vw 3vw">
        <div class="row">
            <div class="col-4 text-center">
                {% if User.username == current_user.username %}
                <a class="nav-link text-center" href="{{ url_for('logout') }}">
                    <div class="a-link">
                        <span class="fs-3">выйти</span>
                    </div>
                </a>
                <div class="spacer"></div>
                {% endif %}
            </div>
            <div class="col-12 text-center">
                {% if User.username == current_user.username %}
                <span class="title ex-txt" style="color: #ff00cc; font-size: 50px; word-wrap: break-word">{{ User.username }} (Вы)</span>
                {% else %}
                <span class="title ex-txt" style="color: #ff00cc; font-size: 50px; word-wrap: break-word">{{ User.username }}</span>
                {% endif %}
            </div>
            <hr class="def-hr" style="width: 50%; margin-left: auto; margin-right: auto; background: #4c15ec;
            border-color: #4c15ec; opacity: 50%">
            <div class="spacer" style="margin-top: 45px"></div>
            <div class="col-12 text-center">
                <div class="row">
                <div class="col-6">
                    <b class="fs-1" id="lvl" style="color: #bbbbbb; float: right; padding: 0 0 20px 0">
                        {{ User.level }}
                    </b>
                </div>
                <div class="col-6">
                <span class="text-light fs-1" style="margin-left: 10px; float: left">
                    LvL
                </span>
                </div>
                    </div>
            </div>
            <!--            <div class="col-4">-->
            <!--                <span class="ex-txt fs-1">{{ User.exp }} Ex</span>-->
            <!--            </div>-->
            <div class="col-12 mt-4 text-center">
                <div class="bar-border" style="height: 30px; width: 100%">
                    <div class="bar" id="expValue{{ User.id }}bar" style="width: {{User.exp/(100*(User.level**2))*100 }}%"></div>
                </div>
                <span class="fs-3" id="expValue{{ User.id }}" style="color: #818181; margin-left: 10px">{{ User.exp }}</span>
                <span class="fs-3" style="color: #818181">/</span>
                <span class="fs-3" style="color: #818181">{{ (100*(User.level**2)) }}</span>
                <span class="fs-3 ex-txt" id="ex_end"> Ex</span>
            </div>
        </div>
        <div class="spacer"></div>
        {% if User.username == current_user.username %}
        <a class="nav-link text-center" style="justify-content: flex-end;" href="{{ url_for('add_post') }}">
            <div class="a-link">
                <span class="fs-1">+ ПОСТ</span>
            </div>
        </a>
        {% else %}
        <span class="fs-2 text-center text-light">
            ПОСТЫ
        </span>
        {% endif %}
        <hr class="def-hr">
        {% if Posts|count == 0 %}
        <span class="ex-post-txt fs-4">Э. А где?</span>
        {% endif %}
        {% for post in Posts %}
        <div class="row">
            <div class="col-12">
                <span class="ex-title fs-2">{{ post.title }}</span><br>
                <span class="ex-post-txt fs-4">{{ post.content }}</span><br>
            </div>
            <div class="row">
                <div class="col-12">

                    <img id="like_img_{{ post.id }}" class="post_bot"
                         src="{{ url_for('static', filename='imgs/fill-like.png') if Likes[post.id]['liked_by_user'] else url_for('static', filename='imgs/like.png') }}"
                         alt="like" width="30px"
                         style="image-rendering: pixelated;" onclick="likePost({{ post.id }})">
                    <span id="likes_{{ post.id }}" class="text-light">{{ Likes[post.id]['count'] }}</span>
                    <a href="{{ url_for('get_comments', post_id=post.id) }}" style="text-decoration: none"> <img
                            class="post_bot" src="{{ url_for('static', filename='imgs/comment.png') }}" alt="comm"
                            width="30px" height="32px"
                            style="image-rendering: pixelated; margin-top: -2px; margin-left: 10px;">
                    </a>
                    <span class="text-light">{{ Likes[post.id]['comm_count'] }}</span>
                    <img class="post" data-post-id="{{ post.id }}" src="{{ url_for('static', filename='imgs/Views.png') }}" alt="views"
                         width="30px" height="32px"
                         style="image-rendering: pixelated; margin-top: -5px; margin-left: 10px;">
                         <span class="text-light">{{ post.views }}</span>
                </div>

            </div>
        </div>
        <div class="spacer" style="margin-top: 50px;"></div>
        {% endfor %}
    </div>
</div>
<div class="spacer"></div>
<script>

    // Используем событие load для вызова функции при загрузке элемента
    $(document).ready(function () {
        console.log("gg")
        updateExpValue({{ User.id }}, 'expValue{{ User.id }}', {{ User.level }});
    });

    function likePost(postId) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/like_post/' + postId, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);

                    // Обновляем количество лайков в DOM
                    var likesSpan = document.getElementById('likes_' + postId);
                    if (likesSpan) {
                        likesSpan.innerHTML = response.likes_count;
                    }

                    // Обновляем изображение лайка в DOM
                    var likeImage = document.getElementById('like_img_' + postId);
                    if (likeImage) {
                        if (response.is_like_set) {
                            likeImage.src = '/static/imgs/fill-like.png'; // Путь к изображению, которое показывает, что лайк поставлен
                        } else {
                            likeImage.src = '/static/imgs/like.png'; // Путь к изображению лайка по умолчанию
                        }
                    }
                } else {
                    console.error('Произошла ошибка при добавлении лайка. Код состояния:', xhr.status);
                }
            }
        };
        xhr.send();
    }
document.addEventListener('DOMContentLoaded', function() {
    var posts = document.querySelectorAll('.post');
    var viewedPosts = [];

    function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)
        );
    }

    function increaseViews(postId) {
        // Проверяем, был ли пост уже просмотрен в текущей сессии
        if (viewedPosts.indexOf(postId) === -1) {
            // AJAX-запрос для увеличения просмотров на сервере
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/increase_views/' + postId, true);
            xhr.send();

            // Записываем пост в массив просмотренных
            viewedPosts.push(postId);
        }
    }

    function handleScroll() {
        posts.forEach(function(post) {
            var postId = post.dataset.postId;

            if (isElementInViewport(post)) {
                increaseViews(postId);
            }
        });
    }

    // Отслеживание события прокрутки
    window.addEventListener('scroll', handleScroll);
    handleScroll();  // Вызов при загрузке страницы
});
</script>
{% endblock %}