{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="spacer"></div>
    <div class="row d-flex justify-content-center" style="border: #212121 solid 5px; padding: 2vw 3vw">
        <div class="row">
            <div class="col-12 text-center">
                {% if User.username == current_user.username %}
                <span class="fs-1 title text-light">{{ User.username }} (Вы)</span>
                {% else %}
                <span class="fs-1 title text-light">{{ User.username }}</span>
                {% endif %}
            </div>
            <hr class="def-hr" style="width: 50%; margin-left: auto; margin-right: auto; background: #4c15ec;
            border-color: #4c15ec; opacity: 100%">
            <div class="col-8 text-center">
                <span class="fs-1" id="lvl" style="color: #bbbbbb;">
                    {{  User.level }}
                </span>
                <span class="text-light fs-1">
                    LvL
                </span>
            </div>
            <div class="col-4">
                <span class="ex-txt fs-1">{{ User.exp }} Ex</span>
            </div>
        </div>
        <div class="spacer"></div>
        {% if User.username == current_user.username %}
        <a class="nav-link text-center" style="justify-content: flex-end;" href="{{ url_for('add_post') }}">
            <div class="a-link">
                <span class="fs-1">+ ПОСТ</span>
            </div>
        </a>
        {% else %}
        <span class="fs-2 text-center text-light">
            ПОСТЫ
        </span>
        {% endif %}
        <hr class="def-hr">
        {% if Posts|count == 0 %}
            <span class="ex-post-txt fs-4">Э. А где?</span>
        {% endif %}
        {% for post in Posts %}
        <div class="row">
            <span class="ex-title fs-2">{{ post.title }}</span><br>
            <span class="ex-post-txt fs-4">{{ post.content }}</span><br>
        </div>
        {% endfor %}
    </div>
</div>
<div class="spacer"></div>
{% endblock %}